<!DOCTYPE html>
<html lang="en">

	<body style="font-size:20px; padding:50px;">
<h1><center>TinyApp</center></h1>

<form action="/login" method="POST">
      <label for="username">Sign in:</label>
      <input id="username" type="text" name="username" style="width: 170px">
      <input type="submit" value="Submit">
	</body>
<%= username%>

</html>



