<!DOCTYPE html>
<html lang="en">

	<body style="font-size:20px; padding:50px;">
		
		<h1><center>TinyApp</center></h1>


		<% if(username){ %>
		   <h4 style='margin: 0 0 10px 0'><%= username.email %> is logged in!</h4> 
		   
		  <form method="POST" action="/logout">
		   	<input type="submit" value="Logout">
		  </form>
		
		<% } else { %>

		<a href="/login">Login</a>
		<a href="/register">Register a new account</a>

 		<% } %>



	</body>
</html>



