<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>TinyApp</title> -->
	<% include ./partials/_header %>
</head>

<body>

    <ol>
    	<li> b2xVn2: http://www.lighthouselabs.ca </li>
    	<li> 9sm5xK: http://www.google.com </li>
    </ol>

    <a href="">Shorten a new URL!</a>
</body>
</html>