<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>TinyApp</title> -->
	<% include ./partials/_header %>
</head>

<body>

    <ul>
    	<li> <%= shortURL %> </li>
    	<li> <%= longURL %> </li>
    </ul>

    <a href="http://localhost:8080/urls/new">Shorten another URL!</a>
</body>
</html>